/* ///////////////// background-tp-layer /////////////// */
.backGround {
  background-color: #15181b;
  width: 100%;
  height: 100vh;
  position: relative;
  /* display: none; */
}

.backGroundTpLayer {
  display: flex;
  padding: 20px;
  gap: 5px;
  -webkit-user-select: none;
  user-select: none;
  user-select: none;
}

.backGroundTpLayer img {
  height: 80px;
  width: 80px;
  filter: brightness(115%);
}

.brandNm {
  color: #ffca5f;
  font-size: 2.4rem;
  align-self: center;
}
/* ///////////////// background-tp-layer /////////////// */

/* ///////////////// mid-brandind /////////////// */
.midBranding {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 3.5rem;
  font-size: 3.6rem;
  -webkit-user-select: none;
  user-select: none;
  margin: 20px;
  padding-left: 30px;
  z-index: 1;
}

.backGroundMidTop {
  color: #464545;
}

.backGroundMidLow {
  color: #464545;
}
/* ///////////////// mid-branding /////////////// */

/* //////////////////over-trans-layer////////////// */

.overTransLayerEv {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

/* //////////////////over-trans-layer////////////// */

/* ///////////////// pictures /////////////// */

.eventImgRun {
  color: azure;
  background-color: transparent;
  height: auto;
  width: 60%;
  top: 0;
  left: 0;
}

.eventImgRun {
  margin-top: 50px;
}
/* ///////////////// pictures /////////////// */

/* ///////////////// venue strip /////////////// */
.venueStrip {
  color: #fff;
  background-color: #b9a0ff;
  width: 100px;
  overflow: hidden;
}

.MovingText {
  white-space: nowrap;
  transform: rotate(90deg);
}

.MovingText::-webkit-scrollbar {
  display: none;
}

.MovingText p {
  font-size: 2rem;
  display: inline-block;
  color: #000;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bpdot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  display: inline-block;
  padding-left: 10px;
  margin: 0 20px;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ///////////////// venue strip ////////////// */

/* ///////////////// sidebar-events /////////////// */
.semSidePanel {
  background-color: #15181b;
  width: 600px;
}

.tagLine {
  color: #fff;
  padding: 40px 40px;
  font-size: 1.2rem;
}

/* /////////First section - Top tag////////// */

.focusName {
  font-size: 1.8rem;
  color: #fff;
  padding-top: 20px;
  padding-left: 40px;
}

/* /////////Second section- Event name////////// */

.subFocus {
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  padding-top: 10px;
}

.pin {
  display: flex;
  gap: 10px;
  padding-top: 12px;
  padding-left: 42px;
}

.pin img {
  height: 26px;
  width: 29px;
  filter: invert(1);
}

.dateTime {
  display: flex;
  gap: 10px;
  padding-top: 12px;
  padding-left: 25px;
}

.dateTime img {
  height: 27px;
  width: 29px;
  filter: invert(1);
}

.focusDetails {
  width: 360px;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 1rem;
  color: #fff;
  font-weight: bolder;
  line-height: 22px;
}

/* /////////Third section - Event details ////////// */

.tagSubFocus {
  font-size: 1.2rem;
  padding-left: 40px;
  padding-top: 30px;
  color: #fff;
}

.imgFocus {
  display: flex;
  gap: 5px;
  height: 200px;
  width: 60px;
}

.imgFocus span {
  height: 150px;
  width: 140px;
  padding-top: 40px;
  transition: transform 0.4s;
}

.imgFocus img {
  height: 150px;
  width: 140px;
  border-radius: 6px;
}

.imgFocus span:hover {
  transform: scale(1.4);
}

/* /////////Forth section - Artists////////// */

.userInteraction {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-top: 130px;
  padding-right: 30px;
  font-size: 1rem;
}

.qrcontainer {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.qrcode {
  height: 100px;
  width: 100px;
}

.joinBtn {
  background-color: #ffca5f;
  border-radius: 30px;
  padding: 0 10px;
  height: 60px;
  align-self: flex-end;
  transition: ease 0.3s;
}

.joinBtn:hover {
  background-color: #f8b01f;
  transform: scale(1.02);
}

.joinBtn p {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 15px;
}

/* ///////////////// sidebar-events /////////////// */
