.emblaF {
  overflow: hidden;
  padding-left: 200px;
  width: auto;
}
.emblaContainerF {
  display: flex;
  width: auto;
  gap: 30px;
}

.emblaSlideF {
  width: 200px;
}
.venLoc {
  font-size: 1.8rem;
}

.ft {
  font-size: 1rem;
}
