.Tog {
  margin-top: 50px;
  margin-left: 10px;
}

.toggleBtn {
  background-color: rgb(52, 52, 53);
  border: none;
  border-radius: 99px;
  width: 300px;
  height: 50px;
  transition: background-color 0.1s ease;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
}

.thumb {
  display: flex;
  gap: 110px;
  padding-top: 12px;
  padding-left: 15px;
}

.toggleBtn.toggled {
  background-color: rgb(70, 73, 72);
}

.thumb p {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.1s ease; /* Add transition for color change */
}

.thumb p.active {
  color: #000; /* Color for the highlighted text */
}
